<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting"
  style="min-height: 0px;">

  <a class="post-card__inner" href="{{ post.url | relative_url }}">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
      <span class="post-card__meta">
        {% if include.type != nil %}
        <time>Modified on {{ post.last_modified_at | date: date_format}}</time>
        {% else %}
        <time>Posted on {{ post.date | date: date_format }}</time>
        {% endif %}
        <!-- <time>{{ post.last_modified_at | date: date_format }}</time> -->
      </span>
    </div>
    {% if post.summary %}
    <p>{{ post.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
    <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </a>
  <!-- <div class="post-card__inner" style="padding-top: 0px; padding-bottom: 0px;">
    {% if post.categories %}
    {% assign categories = post.categories %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="label"
      style="color: rgba(0, 0, 0, 0.5);  border: 2px solid rgba(0, 0, 0, 0.2)"> {{ category }} </a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    {% endif %}
  </div> -->
</div>