{% if page.pro %}

<p id="pro">
  {% if post.categories or page.categories %}
  <!-- <div class="categories"> -->
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <img src="https://img.shields.io/badge/{{category|slugize}}-blue.svg?style=flat" alt="">
    <!-- {% unless forloop.last %}&nbsp;{% endunless %} -->
    {% endfor %}
  <!-- </div> -->
  {% endif %}
  <img src="https://img.shields.io/badge/作者-jskyzero-brightgreen.svg?style=flat" alt="">
  <img src="https://img.shields.io/badge/日期-{{ page.date | date: "%Y/%m/%d" }}-brightgreen.svg?style=flat" alt="">
</p>

{% endif %}
