.git-log {
  padding: 1rem 1rem 1rem !important;
  background-color: black;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  pre {
    margin: 0;
  }
}


.post-content {
  max-width: 52.5rem;
  margin: 0 auto;
  padding-top: 2.5em;

  @include breakpoint($md) {
    padding-top: 5em;
  }

  blockquote {
    font-style: italic;
  }

  .mermaid{
    text-align: center;
  }
  a {
    overflow-wrap: break-word;
  }

  img {
    background: white;
    border-radius: 5px;
    // float: left;
    // max-width: calc(100% - 2rem);
    // position: absolute;
  }
  
  p:empty {
    text-indent: 2rem;
  }

  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.25em;
    line-height: 1.2;
    // border-bottom: 1px solid #eee;
  }
  h2 {
    font-size: 1.75em;
    line-height: 1.225;
    margin-top: 2rem;
    // border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.43;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
    color: #777;
  }

  counter-reset: h1;
  h1 {
    counter-reset: h2;
  }
  h2 {
    counter-reset: h3;
  }
  h3 {
    counter-reset: h4;
  }
  h4 {
    counter-reset: h5;
  }
  h1:before {
    counter-increment: h1;
    // content: counter(h1) ". ";
  }
  h2:before {
    counter-increment: h2;
    // content: counter(h1) "." counter(h2) ". ";
    content: counter(h2) ". ";
  }
  h3:before {
    counter-increment: h3;
    // content: counter(h1) "." counter(h2) "." counter(h3) ". ";
    content: counter(h2) "." counter(h3) ". ";
  }
  h4:before {
    counter-increment: h4;
    // content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". ";
    content: counter(h2) "." counter(h3) "." counter(h4) ". ";
  }
  h5:before {
    counter-increment: h5;
    // content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
  }

  .hide-before:before {
    content: none;
  }

  .md-toc {
    counter-reset: h1toc;
  }
  .md-toc-h1 {
    counter-reset: h2toc;
  }
  .md-toc-h2 {
    counter-reset: h3toc;
  }
  .md-toc-h3 {
    counter-reset: h4toc;
  }

  .md-toc-h1 {
    a:before {
      counter-increment: h1toc;
      // content: counter(h1toc) ". ";
    }
  }
  .md-toc-h2 {
    a:before {
      counter-increment: h2toc;
      content:counter(h2toc) ". ";
      // content: counter(h1toc) "." counter(h2toc) ". ";
    }
  }
  .md-toc-h3 {
    a:before {
      counter-increment: h3toc;
      content:counter(h2toc) "."counter(h3toc) ". ";
      // content: counter(h1toc) "." counter(h2toc) "." counter(h3toc) ". ";
    }
  }
}
.comments {
  padding: 50px 0;
  background-color: #fafafa;
}

.controls__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.25rem;
  border-top: 1px solid $border;

  .prev {
    align-items: flex-start;
    text-align: left;
  }

  .next {
    align-items: flex-end;
    text-align: right;
  }
}

.controls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 0.875rem;
    color: $grey;
  }

  a {
    color: $heading-color;
    font-weight: bold;
    border-bottom: 0;


    svg {
      transition: all 0.2s linear;
    }

    &:hover {
      color: $primary;
      border-bottom: 0;

      svg {
        fill: $primary;
      }
    }
  }
}
