---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->


{% for category in site.index_categories %}

{% assign posts = site.categories[category] %}
{%- if posts.size > 0 -%}
  <ul>
    <p>{{ category }}</p>

    {% if site.index_categories_sort_by_title contains category %}
    {% assign posts = posts | sort: "title" %}
    {% endif %}

    {%- for post in posts -%}
    <li>
      {%- if post.long-term-maintenance -%}
      {%- assign date_format = " LONG-TERM" -%}
      {%- else -%}

      {%- assign date_format = post.date | date:"%Y-%m-%d" -%}
      {%- endif -%}

      [{{ date_format }}]&nbsp
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.pro -%}⭐️{%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{%- endfor -%}
