---
layout: default
---
<!--
  post.html - Blog post layout
  Extends default.html (which now includes sidebar + TOC sidebar).
  Renders PRO badges, post content, git log, and disqus comments.
-->

<div id="index">
  {% include PRO.html html=content %}
</div>

<div class="toc-inline" id="toc-inline">
  <nav class="toc-nav">
    {% include TOC.html html=content h_min=1 h_max=3 sanitize=true %}
  </nav>
</div>

{{ content }}

{% include LOG.html %}

<script src="/assets/js/main.js"></script>

{%- include disqus.html -%}
