---
layout: default
---

<div id="index">
  {% include toc.html html=content item_class="md-toc-h%level%" class="md-toc" h_min=1 h_max=3 %}
  {% include pro.html html=content %}
</div>

<div>
  
</div>
{{ content }}

<script>
  let changeIndexPositon = function () {
    // console.log("change index dom position");
    let index = document.getElementById("index");
    let h1 = document.getElementsByTagName("h1")[0];
    // console.log(h1);
    if (!h1) {
      // console.log(undefined != index);
      if (undefined != index) index.parentElement.removeChild(index);
      // $(':header').addClass("hide-before");
    } else {
      h1.parentElement.insertBefore(index, h1.nextElementSibling);
    }
  }

  changeIndexPositon();
</script>

{% include LOG.html %}
{%- include disqus.html -%}