<table style="display: table;">
  <thead>
    <tr>
      <!-- <th>{{ include.filter }}</th> -->
      <th></th>
      <th>BOSS</th>
      <th>特色</th>
      <th>招式</th>
    </tr>
  </thead>
  <tbody>
    <!-- game,boss,feature,skills -->
    {%- assign index = 0  -%}
    {%- for line in site.data.ARB -%}
    {% if line.game == include.filter %}
    {%- assign index = index | plus: 1  -%}
    <tr>
      <td>{{ index }}</td>
      <td>{{ line.boss }}</td>
      <td>
          {% if line.feature != nil and line.feature != "" and line.feature != " " %}
          {{ line.feature | newline_to_br }}
          {% endif %}

          {%- assign tag = line.image_tag1-%}
          {% if tag != nil and tag != "" and tag != " " %}
            <img src="https://img.shields.io/badge/{{ tag }}.svg?style=flat">
          {% endif %}

          {%- assign tag = line.attack_tag2 -%}
          {% if tag != nil and tag != "" and tag != " " %}
            <img src="https://img.shields.io/badge/{{ tag }}.svg?style=flat">
          {% endif %}

          {%- assign tag =line.tag3 -%}
          {% if tag != nil and tag != "" and tag != " " %}
            <img src="https://img.shields.io/badge/{{ tag }}.svg?style=flat">
          {% endif %}

          {%- assign tag = line.tag4 -%}
          {% if tag != nil and tag != "" and tag != " " %}
            <img src="https://img.shields.io/badge/{{ tag }}.svg?style=flat">
          {% endif %}
          
      </td>
      <td>
        {{ line.skills | newline_to_br }}
      </td>
    </tr>
    {% endif %}
    {%- endfor -%}
  </tbody>
</table>