{% if page.comments != false %}

<div class="comment-guide git-log" >
  <p class="comment-guide__title">~: 你的看法很重要！</p>
  <p class="comment-guide__text">读完这篇文章，你有什么新的想法、疑问，或者不同观点吗？</p>
  <p class="comment-guide__text">欢迎在下方评论区分享你的故事、经验或建议。</p>
  <p class="comment-guide__text">不管是几句话，还是长篇分析，都能让更多人受益！</p>
  <p class="comment-guide__signature">😊我会认真阅读每一条留言。</p>
</div>


<div id="disqus_thread">
</div>
<script>

var disqus_config = function () {
this.page.url = '{{ page.url | absolute_url }}';
this.page.identifier = '{{ page.url | absolute_url }}';
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
