<footer>
  <p>{{ site.footer }}</p>
  <img src="https://img.shields.io/github/last-commit/jskyzero/design.jskyzero.com">
  <!-- 
  <img style="border-radius: 4px;"
  src="https://hits.dwyl.com/jskyzero/designjskyzerocom.svg?style=flat-square"> 
  -->
  <!-- Clarity Sessions Badge -->
  <img style="border-radius: 4px;"
    src="https://img.shields.io/endpoint?url=https://gist.githubusercontent.com/jskyzero/2b7d19a42054b8eff6e4b9b228a80079/raw/7c540ee0b78c24bdac33b0fff16a51235db13f7a/clarity-stats.json"
    alt="Clarity Sessions">
  <img style="border-radius: 4px;" src="https://img.shields.io/github/repo-size/jskyzero/design.jskyzero.com">
  <img style="border-radius: 4px;" src="https://img.shields.io/badge/made with-♥-red">
  <br>
  <p>&copy; 2017-{{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</p>

</footer>