{% comment %}
  Usage:
  {% include LISTS.html  category="独立游戏" text="做过的独立游戏们" %}

  Parameters:
  * category         (string) - the list's category
{% endcomment %}


{% assign category = include.category %}
{% assign posts = site.categories[category] | reverse %}

<ul>
    <p>{{ include.text }}</p>

    {%- for post in posts -%}
    <li>
      {%- assign date_format = post.date | date:"%Y-%m" -%}
      [{{ date_format }}] 
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.pro -%}⭐️{%- endif -%}
    </li>
    {%- endfor -%}
</ul>