{% comment %}
  lists.html - Small reusable explicit post list.

  Usage:
  {% include lists.html posts=page.some_posts text="做过的独立游戏们" %}

  Parameters:
  * posts             (array) - post paths in display order
  * text              (string) - the ul title text


{% endcomment %}


<ul class="post-list">
    <p class="post-list__title">{{ include.text }}</p>

    {%- for post_path in include.posts -%}
    {%- assign post = site.posts | where: "path", post_path | first -%}
    {%- if post -%}
    <li>
      {%- assign date_format = post.date | date:"%Y-%m" -%}
      [{{ date_format }}] 
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.pro -%}⭐️{%- endif -%}
    </li>
    {%- endif -%}
    {%- endfor -%}
</ul>
