{% comment %}
  Usage:
  {% include LISTS.html  category="独立游戏" text="做过的独立游戏们" sort=false %}

  Parameters:
  * category          (string) - the list's category
  * text              (string) - the ul title text
  * sort              (bool) - sort by title


{% endcomment %}


{% assign category = include.category %}
{% assign posts = site.categories[category] | reverse %}

{% if include.sort %}
{% assign posts = posts | sort: "title" %}
{% endif %}


<ul>
    <p>{{ include.text }}</p>

    {%- for post in posts -%}
    <li>
      {%- assign date_format = post.date | date:"%Y-%m" -%}
      [{{ date_format }}] 
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.pro -%}⭐️{%- endif -%}
    </li>
    {%- endfor -%}
</ul>